@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    --azulEscuro: #101332;
    --verde: #00f965;
    --azulClaro: #0e6cd8;
    --branco: #fff;
    --dmSans: 'DM Sans', sans-serif;
    --cinza: #828282;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding-top: 6rem;
    background-color: var(--azulEscuro);
    font-family: var(--dmSans);
    scrollbar-color: #888888 #F0F0F0;
    scrollbar-width: thin;
}

/*ALTERAÇÃO DA BARRA DE ROLAGEM*/

body::-webkit-scrollbar {
    /* Largura da barra de rolagem */
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    /* Cor da alça da barra de rolagem */
    background-color: var(--verde);
    /* Raio da borda da alça da barra de rolagem */
    border-radius: 8px;
}

body::-webkit-scrollbar-track {
    /* Cor de fundo da barra de rolagem */
    background-color: var(--azulEscuro);
}

.titulo {
    color: var(--branco);
    font-weight: 700;
    font-size: 3rem;
}

.ponto {
    color: var(--verde);
    font-weight: 700;
}

.branco {
    color: var(--branco);
}

/*NAVBAR*/

nav {
    background-color: var(--azulEscuro);
}

nav .nav-link {
    position: relative;
    color: var(--branco);
    transition: .5s;
}

nav .nav-link:hover {
    color: var(--branco);
}

nav .nav-link::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0px;
    left: 0px;
    background-color: var(--verde);
    transition: .5s;
}

nav .nav-link:hover::after {
    height: 2px;
    width: 100%;
}

.nav-link:focus {
    color: var(--branco);
}

.logoHeader {
    width: 150px;
}

.navbar-toggler {
    border: none;
    color: var(--verde);
    font-size: 2rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.offcanvas {
    background-color: var(--azulClaro);
}


/*HEADER*/
.textoApresentacao {
    padding: 1rem;
    color: var(--branco);
}

.textoApresentacao h1 {
    font-size: 3rem;
    font-weight: 700;
}

.textoApresentacao p {
    color: var(--cinza);
}

.btnVerde {
    background-color: var(--verde);
    color: var(--azulEscuro);
    border-radius: 0px;
    border: 1px solid var(--verde);
    font-weight: 700;
}

.btnVerde:hover {
    background-color: #10e766;
    color: var(--azulEscuro);
}

.btnOutlineCinza {
    background-color: transparent;
    border: 1px solid var(--cinza);
    color: var(--cinza);
    border-radius: 0px;
    font-weight: 700;
}

.btnOutlineCinza:hover {
    background-color: var(--cinza);
    color: var(--azulEscuro);
}

.iconeSobreMim {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: var(--verde);
    color: var(--azulEscuro);
    border-radius: 50%;
    font-size: 1.5rem;
}

.linkSobreM:hover {
    color: var(--branco);
}

/*MEUS CONHECIMENTOS*/

.skill * {
    z-index: 1;
}

.skill {
    overflow: hidden;
    position: relative;
    user-select: none;
}

.skill::before {
    content: '';
    width: 35%;
    height: 300%;
    left: 30%;
    position: absolute;
    background: linear-gradient(#00f965, #0e6cd8);
    transform: rotate(143deg);
}

.skill:hover::before {
    animation: animacaoBorda 3s linear infinite;
}

.skill::after {
    content: '';
    position: absolute;
    background: var(--azulEscuro);
    inset: 3px;
    border-radius: 5px;
}

.skill i {
    color: var(--verde);
}

.skill h3 {
    color: var(--branco);
}

.skill span {
    color: var(--cinza);
}

/*MINHAS SKILLS*/
.valorSkills {
    font-size: 3.2rem;
    color: var(--cinza);
    font-weight: 700;
    margin-bottom: 0px;
}

.txtVlrSkill {
    font-size: 1.5rem;
    color: var(--verde);
}

/*CONTATO*/

.form-control {
    background-color: var(--azulEscuro);
    border: 1px solid var(--cinza);
    border-radius: 0px;
    font-size: 1.2rem;
    color: var(--branco);
}

.form-control:focus {

    background-color: var(--azulEscuro);
    border: 1px solid var(--azulClaro);
    color: var(--branco);
    box-shadow: none;

}

.counter {
    margin-top: .5rem;
    background-color: var(--verde);
    color: var(--azulEscuro);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 25px;
    border-radius: 50px;
    font-size: .9rem;
}

@keyframes animacaoBorda {
    0% {
        transform: rotate(143deg);
    }

    100% {
        transform: rotate(500deg);
    }
}